session_id.session
session_id.session-journal
.idea/misc.xml
.idea/modules.xml
.idea/TelegramAntiVoice-telethon.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
